<div class="header">
    <nav class="nav-container">
        <div class="uk-navbar-left logo">
            {% if current_user %}
                <a href="/">{{ current_user.username | upper }}</a>
            {% else %}
                <a href="/">LOGO</a>
            {% endif %}
        </div>
        <div class="menu">
            <div class="uk-navbar-right">
                {% if not current_user %}
                    <div class="menu-item"><a href="/accounts/register">가입</a></div>
                {% endif %}
                <div class="menu-item"><a href="/index">참고</a></div>
                <div class="menu-item"><a href="/lotto/random">로또</a></div>
                <div class="menu-item"><a href="/articles/article/create">글쓰기</a></div>

                {% if current_user %}
                    <div class="menu-item"><a href="#" id="logoutBtn">로그아웃</a></div>
                {% else %}
                    <div class="menu-item"><a href="/accounts/login">로그인</a></div>
                {% endif %}
            </div>
        </div>
    </nav>
</div>